/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f6fa;
    color: #2f3640;
    line-height: 1.6;
    padding-bottom: 60px;
  }
  
  /* Header/Nav */
  header {
    background-color: #1e272e;
    padding: 1rem 2rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #1e272e;

  }
  
  nav h1 {
    font-size: 1.5rem;
    color: #00a8ff;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #dcdde1;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #00a8ff;
  }
  
  /* Hero Section */
  .hero {
    padding: 4rem;
    background: linear-gradient(135deg, #273c75, #192a56);
    color: #fff;
    text-align: center;
  }
  
  .hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  /* Sections */
  section {
    padding: 2rem;
  }
  
  .intro,
  .team-section,
  .product-section {
    max-width: 900px;
    margin:auto;
  }

  .image_way{
    float: right;
    width: 60%;
    /* height: 110%; */

  }
  
  .product-flex-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 2rem;
    flex-wrap: wrap; /* makes it responsive */
  }
  
  .product-text {
    flex: 2;
    min-width: 300px;
  }

  .product-image img{
    max-width: 500px;
    height: 250px;
    border-radius: 8px;
  }
  .product-image video{
    max-width: 500px;
    height: 250px;
    border-radius: 8px;    
  }
  
  /* Lists */
  .highlighted-list {
    counter-reset: item;
    list-style: none;
    padding-left: 0;
    font-size: 1.75rem; /* Same as default h3 in many browsers */
    line-height: 1.5;
  }
  
  .highlighted-list li {
    counter-increment: item;
    position: relative;
    padding-left: 2.5em;
    margin-bottom: 1rem;
  }




  /* Footer */
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1e272e;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  